:root{
    --cor-zero: black;
    --cor-um: blue;
}

html {
    height: 100VH;
    width: 100vw;
   

}

body {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

header {
    height: 10%;
  
}

nav {
    height: 15%;
    
}

section {
  
    clear: both;
    height: 70%;
    width: 100%;
}

footer {
    height: 5%;
 
}

.container-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.container {
    height: 33.33%;
    width: 33.33%;
}

.contador {
    height: 80%;
    width: 100%;
}

.contagem {
    height: 100%;
    width: 100%;
}

p {
    align-items: last baseline;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    color: blanchedalmond;
    font-size: 24px;
}

.titulo {
    height: 20%;
    width: 100%;
    text-align: center;
    color: blanchedalmond;
    font-size: 24px;

}

.images {
    height: 100%;
    width: 100%;

}

.images-reverse {
    height: 100%;
    width: 100%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

img {
    height: 100%;
    width: 100%;
}


.container-nav {
    height: 100%;
    width: 100%;
}

button{
    height: 80%;
    align-content: center;
}